---
import Layout from '#layouts/Layout.astro';

import { getCollection } from 'astro:content';
import FormattedDate from '#components/FormattedDate.astro';
import { Image } from 'astro:assets';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout>
  <section>
    <ul>
      {
        posts.map(({ id, data }) => (
          <li>
            <a href={`/blog/${id}/`}>
              <Image
                src={data.cover.src}
                alt={data.cover.alt}
                width="200"
                height="100"
              />
              <h4 class="title">{data.title}</h4>
              <p class="date">
                <FormattedDate date={data.pubDate} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
