---
import { navLinks, OUTBOUND_LINKS } from '#app.config.ts';
import { daisyuiThemes } from '#utils/daisyui-themes.ts';
import Hamburger from './Hamburger.astro';
import IconLink from '@repo/astro-ui/IconLink';

// import DThemeDropDown from '#components/DThemeDropDown/index.astro';
// import ThemeToggle from '#components/ThemeToggle/index.astro';

// import HeaderLink from '#components/Header/MainNav/HeaderLink.astro';
// import { navLinks, OUTBOUND_LINKS } from '#app.config.ts';
---

<div class="navbar bg-base-100">
  <div class="navbar-start border-1">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-circle btn-ghost">
        <Hamburger />
      </div>

      <ul
        tabindex="0"
        class="dropdown-content menu z-1 mt-3 w-52 menu-sm rounded-box bg-base-100 p-2 shadow"
      >
        {
          navLinks.map(({ href, label }) => (
            <li>
              <a role="button" class="link" href={href}>
                {label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <!-- <DThemeDropDown themes={[...daisyuiThemes]} /> -->
    <!-- <ThemeToggle /> -->
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul tabindex="0" class="menu menu-horizontal px-1">
      {
        navLinks.map(({ href, label }) => (
          <li>
            <a role="button" href={href} class="btn">
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="navbar-end">
    {
      OUTBOUND_LINKS.map(({ url, logo }) => (
        <IconLink
          href={url}
          class="h-10 w-10 fill-accent stroke-accent stroke-1"
          icon={logo}
        />
      ))
    }
  </div>
</div>
