---
import BaseHead from '#components/BaseHead.astro';

import type { RmUnitType } from '#UnitTypes.js';

interface Props {
  title?: string;
  description?: string;
  image?: string;
  maxW?: RmUnitType;
  children: unknown;
}

const {
  title = 'Mike Connor',
  description = 'my description',
  image = '/placeholder-social.jpg',
} = Astro.props;
const mode = process.env.NODE_ENV?.toString().substring(0, 3);
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en" data-theme="toucan">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <link rel="canonical" href={canonicalURL} />
  </head>

  <body>
    <code class="mode">{mode}</code>
    <slot />

    <script is:inline>
      // on page, get the last theme from the cookie and set it
      document.addEventListener('astro:page-load', () => {
        const storedTheme = localStorage.getItem('theme');
        const doc = document.documentElement;
        if (storedTheme) {
          doc.setAttribute('data-theme', storedTheme);
          // $currTheme.set(storedTheme);
        } else {
          doc.setAttribute('data-theme', 'light');
        }
      });
    </script>
  </body>
</html>
<style>
  .mode {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
  }
</style>
