---
import Center from '@repo/layout-webcomponents/Center';
import BreadCrumbs from '#components/BreadCrumbs/index.astro';
//  cover causes a flash issue
import Cover from '@repo/layout-webcomponents/Cover';
import type { RmUnitType } from '@repo/layout-webcomponents/Types';
// import Prose from '#components/Prose.astro';
// import Header from '#components/Header/index.astro';
import NavBar from '#components/NavBar/index.astro';

// import Andy from '#assets/andy_mud_color.webp';
// import BgImage from '#components/bg-img/index.astro';

import Footer from '#components/Footer/index.astro';
import BaseLayout from './BaseLayout.astro';
// import Nav from '@repo/astro-ui/NavBarRes';
// import { slide } from 'astro:transitions';
interface Props {
  maxW?: RmUnitType;
  children: unknown;
  title?: string;
  description?: string;
}

const { maxW = '60ch', title, ...rest } = Astro.props;

const GUTTERS = '1ch'; // padding for the main content area
const paddClass = `ps-[${GUTTERS}]`; // class for padding
---

<BaseLayout title={title} {...rest}>
  <!-- <BgImage bgImage={Andy}> -->
  <NavBar transition:persist />
  <!-- <div class={paddClass}><BreadCrumbs /></div> -->
  <Cover centeredElement="center-l" noPad>
    <Center gutters={GUTTERS} max={maxW}>
      <slot />
    </Center>

    <Footer />
  </Cover>

  <!-- <footer class="mt-auto flex items-center justify-center p-4">
      <p class="text-sm text-gray-500">
        © {new Date().getFullYear()} Mike Connor. All rights reserved.
      </p>
    </footer> -->

  <!-- </BgImage> -->
</BaseLayout>
