---
import Layout from '#layouts/Layout.astro';
// import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import Prose from '#components/Prose.astro';
type Props = CollectionEntry<'blog'>['data'];

const { title, description, date, cover, author, tags } = Astro.props;

// const authorResults = await getEntry('authors', author.id);

// if (!authorResults) {
//   throw new Error(`Author not found for post: ${title}`);
// }

// const { name } = authorResults.data;

// const { data :  relatedPostData} = getEntries('blog', authorResults.data.relatedPosts);
---

<!-- TODO: fix the date format -->
<Layout title={title} description={description} maxW="60ch">
  <Prose>
    <h1 class="capitalize">{title}</h1>
    <p>Published on: {date}</p>
    <figure>
      {
        cover?.src && cover?.alt && (
          <img
            class="aspect-16/9 w-full rounded-lg object-cover shadow-2xl"
            src={cover.src}
            alt={cover.alt}
          />
        )
      }
    </figure>
    <slot />
  </Prose></Layout
>
