---
import Layout from '#layouts/Layout.astro';
import { Image } from 'astro:assets';
import { type CollectionEntry, getEntry } from 'astro:content';
import Prose from '#components/Prose.astro';
import type { RmUnitType } from '@repo/layout-webcomponents/Types';
// import { inferRemoteSize } from 'astro:assets';

type Props = {
  maxW?: RmUnitType;
  children: unknown;
} & CollectionEntry<'blog'>['data'];

import { format } from 'date-fns';

const { maxW = '60ch', title, description, date, cover, author } = Astro.props;

let authorObj;
if (author) {
  authorObj = await getEntry('authors', author.id);
}

// if (authorObj === undefined) {
//   return Astro.redirect('/404');
// }
---

<!-- TODO: fix the date format -->
<Layout title={title} description={description} maxW={maxW}>
  <Prose>
    <h1 class="capitalize">{title}</h1>
    {date && <p>Pub.on: {format(date, 'yyyy-MM-dd')}</p>}
    <figure>
      {
        cover?.src && cover?.alt && (
          <Image
            class="aspect-16/9 w-full rounded-lg object-cover shadow-2xl"
            src={cover.src}
            alt={cover.alt ?? 'alt image needed'}
            width="1600"
            height="900"
          />
        )
      }
    </figure>

    {
      authorObj && (
        <p class="text-sm text-gray-500">
          By <a href={`../authors/${authorObj.id}`}>{authorObj.data.name}</a>
        </p>
      )
    }

    <slot />
  </Prose></Layout
>
