---
import Layout from '#layouts/Layout.astro';
// import { Image } from 'astro:assets';
import Headline from '#components/Headline.astro';
import { type CollectionEntry, getEntry } from 'astro:content';
import Prose from '#components/Prose.astro';
import Stack from '@repo/layout-webcomponents/Stack';

import BlogPicWrapper from '#components/BlogPicWrapper.astro';
type Props = {
  // maxW?: RmUnitType;
  children: unknown;
  id?: string;
} & CollectionEntry<'blog'>['data'];

import { format } from 'date-fns';

const { title, description, date, cover, author } = Astro.props;

let authorObj;
if (author) {
  authorObj = await getEntry('authors', author.id);
}

// if (authorObj === undefined) {
//   return Astro.redirect('/404');
// }
---

<!-- TODO: fix the date format -->
<Layout title={title} description={description}>
  <!-- <h1>The current URL is: {Astro.url}</h1>
  <h1>The current URL pathname is: {Astro.url.pathname}</h1>
  <h1>The current URL origin is: {Astro.url.origin}</h1> -->

  <!-- <h1 class="">{title}</h1> -->
  <Stack>
    <Headline headline={title} />

    {date && <p>Pub.on: {format(date, 'yyyy-MM-dd')}</p>}
    <!-- <figure>
      {
        cover?.src && cover?.alt && (
          <img
            class="aspect-16/9 w-full rounded-lg object-cover shadow-2xl"
            src={cover.src}
            alt={cover.alt ?? 'alt image needed'}
          />
        )
      }
    </figure> -->
    {cover?.src && cover?.alt && <BlogPicWrapper cover={cover} />}

    {
      authorObj && (
        <a class="link text-6xl link-hover" href={`../authors/${authorObj.id}`}>
          {authorObj.data.name}
        </a>
      )
    }
    <Prose>
      <slot />
    </Prose>
  </Stack>
</Layout>
