---
// import { Debug } from 'astro:components';
// import type { MarkdownLayoutProps } from 'astro';
import ImageWrapper from '#components/ImageWrapper.astro';
import TagContainer from '#components/TagContainer.astro';
import Layout from '#layouts/Layout.astro';
import '@repo/styles/css/markdown-style.css';
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';
import { format } from 'date-fns';
type Props = CollectionEntry<'blog'>['data'];
// interface Props {
//   blogData: BlogSchemaType;
// }

// type Props = MarkdownLayoutProps<{
//   // Define frontmatter props here
//   blogData: BlogSchemaType;
// }>;

// type Props = CollectionEntry<'blog'>['data'];
// const { blogData } = Astro.props;

const { title, description, pubDate, cover, author, tags } = Astro.props;

const authorResults = await getEntry('authors', author.id);

if (!authorResults) {
  throw new Error(`Author not found for post: ${title}`);
}

const { name } = authorResults.data;

// const { data :  relatedPostData} = getEntries('blog', authorResults.data.relatedPosts);
---

<!-- TODO: fix the date format -->
<Layout title={title} description={description} maxW="60ch">
  <!-- <div class="wa-flank">
    <div class="wa-frame" style="max-inline-size: 20rem;">
      <ImageWrapper url={cover.src} alt={cover.alt} />
    </div>

    <Box borderWidth="1px">
      Written by: {name},
      {format(pubDate, 'd MMM, yyyy')}
    </Box>
  </div> -->

  <wa-card with-image with-footer class="card-overview" class="card-overview">
    <ImageWrapper slot="image" src={cover.src} alt={cover.alt} />
    <wa-button-group label="Alignment" variant="brand">
      <wa-button>Left</wa-button>
      <wa-button>Center</wa-button>
      <wa-button>Right</wa-button>
    </wa-button-group>

    <br /><br />

    <wa-button-group label="Alignment" variant="success">
      <wa-button>Left</wa-button>
      <wa-button>Center</wa-button>
      <wa-button>Right</wa-button>
    </wa-button-group>

    <br /><br />

    <wa-button-group label="Alignment">
      <wa-button>Left</wa-button>
      <wa-button>Center</wa-button>
      <wa-button>Right</wa-button>
    </wa-button-group>

    <br /><br />

    <wa-button-group label="Alignment" variant="warning">
      <wa-button>Left</wa-button>
      <wa-button>Center</wa-button>
      <wa-button>Right</wa-button>
    </wa-button-group>

    <br /><br />

    <wa-button-group label="Alignment" variant="danger">
      <wa-button>Left</wa-button>
      <wa-button>Center</wa-button>
      <wa-button>Right</wa-button>
    </wa-button-group>

    <!-- <img
      slot="image"
      src="https://images.unsplash.com/photo-1547191783-94d5f8f6d8b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80"
      alt="A kitten walks towards camera on top of pallet."
    /> -->
    <!-- <ImageWrapper url={cover.src} alt={cover.alt} /> -->

    <!-- <img slot="image" src={cover.src} } alt={cover.alt} } /> -->
    <h3>{title}</h3>
    <small>
      Written by: {name},
      {format(pubDate, 'd MMM, yyyy')}
    </small>
    <slot />

    <div slot="footer">
      {tags && <TagContainer tags={tags} />}
      <wa-rating></wa-rating>
    </div>
  </wa-card>
</Layout>
<style>
  .card-overview {
    max-width: 60ch;
  }

  .card-overview small {
    color: var(--wa-color-text-quiet);
  }
</style>
