---
import { getCollection } from 'astro:content';
import Layout from '#layouts/Layout.astro';
import { Image } from 'astro:assets';
import Frame from '@repo/layout-webcomponents/Frame';
import TimeLine from '#components/TimeLine/index.astro';
// import { timeCapsules } from '#app.config.ts';
// import TimeLine from '#components/TimeLine/index.astro';
export async function getStaticPaths() {
  const authorsObj = await getCollection('authors');
  // const { data: authorsData } = authorsObj;

  return authorsObj.map((author) => ({
    params: { id: author.id },
    props: author,
  }));
}

const { data } = Astro.props;
const { name, bio } = data;
---

<Layout maxW="80ch">
  <div class="card bg-base-100 shadow-sm md:card-xl">
    <figure>
      <Frame ratio="1:1">
        <Image
          class="rounded-md border-3"
          src={data.photo}
          alt="author photo"
          width={1200}
          height={1200}
        />
      </Frame>
    </figure>
    <div class="card-body">
      <h2 class="card-title">{name}</h2>
      <p>{bio}</p>

      <div class="card-actions">
        <TimeLine timeline={data.timeline} />
      </div>
    </div>
  </div>

  <!-- <div class="relative">
    <Frame ratio="1:1">
      <Image
        class="rounded-md border-3"
        src={data.photo}
        alt="author photo"
        width={1200}
        height={1200}
      />
    </Frame>
    <div class="absolute inset-0 z-10 bg-primary/50 p-10"><p>{bio}</p></div>
  </div> -->
</Layout>
