---
import { getCollection } from 'astro:content';
import Layout from '#layouts/Layout.astro';

export async function getStaticPaths() {
  const authorsObj = await getCollection('authors');
  const { data: authorsData } = authorsObj[0];

  return authorsData.map((author) => ({
    params: { id: author.slug },
    props: author,
  }));
}

// const id = Astro.params;
const author = Astro.props;
const { name, bio, links } = author;
---

<Layout maxW="60ch">
  <div class="card card-side bg-base-100 shadow-sm card-lg">
    <div class="card-body">
      <h2 class="card-title">{name}</h2>
      {bio && <p>{bio}</p>}
      <!-- <div class="card-actions justify-end">
       {
       links && links.map(({(platform, url)}) => (
        <a href={url} class="link">
          {platform}
        </a>
        ))

        }
      </div> -->
    </div>
    )
  </div>

  <!-- <h1>{name}</h1>
  <p>{bio}</p>
  {
    links &&
      links.map(({ platform, url }) => (
        <li>
          <a href={url} class="link">
            {platform}
          </a>
        </li>
      ))
  } -->
</Layout>
