---
// import { Debug } from 'astro:components';
// import { getCollection } from 'astro:content';
import { daisyuiThemes } from '#utils/daisyui-themes.ts';
import Hamburger from '#assets/svgs/Hamburger.svg';
import DropDownDetails from './DropDownDetails.astro';
import NavLink from './NavLink.astro';
import { type NavType, NavigationSchema } from '#schemas/NavSchema.ts';

interface Props {
  title?: string;
  tabindex?: number;
  navLinks: NavType[];
}

// const navLinks = NavigationSchema.parse(_navLinks);

const { title = 'MC Tech', tabindex = 0, navLinks } = Astro.props;
// const { data: parsedNavs, success, error } = allBaseLinksSx.safeParse(navLinks);
// if (error) throw new Error(error.message);
---

<!-- <Debug links={navLinks} /> -->
<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex={tabindex} role="button" class="btn btn-ghost lg:hidden">
        <Hamburger />
      </div>

      <ul
        tabindex={tabindex}
        class="dropdown-content menu z-1 mt-3 w-52 menu-sm rounded-box bg-base-100 p-2 shadow"
      >
        {navLinks.map((nav) => <NavLink nav={nav} />)}
      </ul>
    </div>

    <a href="/" class="btn btn-ghost btn-xl">
      {title}
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul tabindex={tabindex} class="menu menu-horizontal px-1">
      {navLinks.map((nav) => <NavLink nav={nav} />)}
    </ul>
  </div>
  <div class="navbar-end">
    <DropDownDetails themes={daisyuiThemes} />
  </div>
</div>
