---
interface Props {
  color: string;
  index: number;
}

const { color, index } = Astro.props as Props;
---

<div class={`bg-${color}-${index}`}>
  <div class="flex flex-col items-center justify-items-center gap-1">
    <div class:list={['flex h-8 w-16 flex-col gap-2 rounded-3xl shadow-2xl']}>
    </div>
    <!-- <p>{className}</p> -->
    <div class="text-xs text-gray-800 dark:text-gray-50">
      {`bg-${color}-${index}`}
    </div>
  </div>
</div>
