---
import { zIntPos } from '#schemas/index.ts';

import { string, unknown } from 'astro:schema';
import { z } from 'astro:content';
interface Props {
  daisyColor: 'primary' | 'secondary' | 'accent';
  emoji: string;
  framework: 'svelte' | 'vue' | 'react';
  description: string;
  count: number;
}

const colorVarient = {
  primary: 'text-primary',
  secondary: 'text-secondary',
  accent: 'text-accent',
};

const { daisyColor, framework, description, count, emoji } = Astro.props;
const parsedCount = zIntPos.parse(count).toString();
---

<div class="grid grid-cols-1 gap-6 md:grid-cols-3" data-framework={framework}>
  <div class="flex items-center gap-4 rounded-xl bg-base-100 p-6 shadow-lg">
    <div class={colorVarient[daisyColor]}>
      <span class="text-4xl">{emoji}</span>
    </div>
    <div>
      <div class="text-sm font-medium text-base-content/60">
        {framework} Projects
      </div>
      <div class:list={[colorVarient[daisyColor], 'text-3xl font-bold']}>
        {parsedCount}
      </div>
      <div class="text-sm text-base-content/70">{description}</div>
    </div>
  </div>
</div>
