---
import { type TableRowType, zTableRowSchema } from '#schemas/index.ts';

// import ProjectRow from '#components/ProjectRow.astro';
interface Props {
  tableData: TableRowType[];
}

const { tableData } = Astro.props;

const frameworkBadgeColors = {
  svelte: 'badge-warning',
  vue: 'badge-success',
  react: 'badge-info',
};
---

<div class="w-full overflow-x-auto">
  <table class="table-zebra table w-full">
    <thead>
      <tr>
        <th class="w-1/6">Project</th>
        <th>Description</th>
        <th>Links</th>
      </tr>
    </thead>
    <tbody>
      {
        tableData.map((rowData) => {
          const rData = zTableRowSchema.parse(rowData);
          return (
            <tr
              class="transition-all duration-300"
              data-framework={rowData.framework}
            >
              <td class="w-1/6">
                <div class="flex flex-col gap-1">
                  <div class="">{rowData.projectName}</div>
                  <div class="badge badge-sm">{rowData.framework}</div>
                </div>
              </td>
              <td class="w-4/6">
                <span class="text-base-content/70 wrap-break-word text-xs">
                  {rowData.description}
                </span>
              </td>

              <td class="w-1/6">
                <div class="flex flex-col gap-1">
                  <a
                    href={rowData.demoUrl}
                    class="btn btn-primary btn-xs"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    Demo
                  </a>
                  {rowData.githubUrl && (
                    <a
                      href={rowData.githubUrl}
                      class="btn btn-ghost btn-xs"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      GitHub
                    </a>
                  )}
                </div>
              </td>
            </tr>
          );
        })
      }
    </tbody>
  </table>
</div>

<!-- class="rounded-box border-base-content/5 bg-base-100 overflow-x-auto border" -->
