---
import type { TableRowType } from '#schemas/index.ts';

interface Props {
  project: TableRowType;
}

const { project } = Astro.props;
const { framework, projectName, description, demoUrl, githubUrl } = project;

const frameworkBadgeColors = {
  svelte: 'badge-warning',
  vue: 'badge-success',
  react: 'badge-info',
};
---

<tr class="transition-all duration-300" data-framework={framework}>
  <td>
    {projectName}
    <!-- <div class="flex items-center gap-3">
      <h4 class="font-bold">{projectName}</h4>
      <div class={`badge badge-sm ${frameworkBadgeColors[framework]}`}>
        {framework}
      </div>
    </div> -->
  </td>
  <td>
    <span class="text-base-content/70 text-sm">{description}</span>
  </td>
  <td>
    <a
      href={demoUrl}
      class="btn btn-primary btn-xs"
      target="_blank"
      rel="noopener noreferrer"
    >
      Demo
    </a>
    <!-- <div class="flex flex-col gap-2">
      {githubUrl && (
        <a href={githubUrl} class="btn btn-ghost btn-xs" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      )}

        <a href={demoUrl} class="btn btn-primary btn-xs" target="_blank" rel="noopener noreferrer">
          Demo
        </a>

    </div> -->
  </td>
</tr>
