---
import type { TableRowType } from '#schemas/index.ts';

interface Props {
  project: TableRowType;
}

const { project } = Astro.props;
const { framework, projectName, description, demoUrl, githubUrl } = project;

const frameworkBadgeColors = {
  svelte: 'badge-warning',
  vue: 'badge-success',
  react: 'badge-info',
};
---

<tr class="transition-all duration-300" data-framework={framework}>
  <td class="w-1/6 border-1">
    <div class="flex flex-col items-stretch">
      <h4 class="font-bold">{projectName}</h4>
      <div class={`badge badge-sm ${frameworkBadgeColors[framework]}`}>
        {framework}
      </div>
    </div>
  </td>
  <td class="w-4/6">
    <div class="w-full border-1 text-sm text-base-content/70">
      {description}
    </div>
  </td>
  <td class="w-1/6">
    <div class="flex flex-col">
      <!-- {
        githubUrl && (
          <a
            href={githubUrl}
            class="btn btn-ghost btn-xs"
            target="_blank"
            rel="noopener noreferrer"
          >
            GitHub
          </a>
        )
      } -->

      <a
        href={demoUrl}
        class="btn btn-xs btn-primary"
        target="_blank"
        rel="noopener noreferrer"
      >
        Demo
      </a>
    </div>
  </td>
</tr>
