---
// import Hamburger from '/Hamburger.astro';
import HeaderLink from './MainNav/HeaderLink.astro';

import { navLinks } from '#app.config.ts';
import { Links } from '#app.config.ts';

import ThemeIcon from '@repo/astro-wc/ThemeIcon';
import IconLink from '@repo/astro-wc/IconLink';
// import HeaderLink from './MainNav/HeaderLink.astro';
// import Outlink from './Outlink.astro';
import MainNav from './MainNav/index.astro';

// import { navLinks } from '#app.config.ts';
// const { pathname } = Astro.url;

const IconSize = 'var(--s2, 3rem)';
---

<div
  class="flex max-w-full justify-between border-4  px-4 py-5 bg-primary-100 dark:bg-primary-800"
>
  <!-- items-center justify-between -->
  <!-- <div class="flex flex-row flex-nowrap content-center justify-between"> -->

  <div class="gap-2 sm:gap-5 sm:flex sm:flex-row">
    
    <ThemeIcon
    class='fill-gray-900 stroke-gray-900 dark:fill-gray-50 dark:stroke-gray-50 h-10 w-10'
      theme="light"
      icon="sun"
    />
    <ThemeIcon
       class='fill-gray-900 stroke-gray-900 dark:fill-gray-50 dark:stroke-gray-50 h-10 w-10'
      theme="dark"
      icon="moon-stars"
    />
  </div>

  <div class="gap-0 sm:flex sm:flex-row sm:justify-end">
    {
      navLinks.map(({ href, label, subPages }, index) => (
        <HeaderLink href={href} subPages={subPages}>
          <span slot="activeTab">{label}</span>
          <span slot="btnContents">{label}</span>
        </HeaderLink>
      ))
    }
  </div>

  <div class="gap-2 sm:flex sm:flex-row sm:justify-end sm:gap-5">
    <IconLink href={Links.github} size={IconSize} icon="github-logo" />
    <IconLink href={Links.twitter} size={IconSize} icon="twitter-logo" />
    <IconLink href={Links.linkedin} size={IconSize} icon="linkedin-logo" />
    <IconLink href={Links.discord} size={IconSize} icon="discord-logo" />
  </div>

  <!-- </div> -->
</div>
