---
import HeaderLink from './MainNav/HeaderLink.astro';
import { navLinks, OUTBOUND_LINKS } from '#app.config.ts';

import IconLink from '@repo/astro-ui/IconLink';
import DThemeDropDown from '@repo/astro-ui/DThemeDropDown';
const CLASSNAME = 'h-10 w-10 fill-link-neutral stroke-neutral';
import { daisyuiThemes } from '#utils/daisyui-themes.ts';
---

<div class="flex max-w-full justify-between border-1 px-4 py-1">
  <DThemeDropDown themes={[...daisyuiThemes]} />

  <div class="gap-0 sm:flex sm:flex-row sm:justify-end">
    {
      navLinks.map(({ href, label, subPages }, index) => (
        <HeaderLink href={href} subPages={subPages}>
          <span slot="activeTab">{label}</span>
          <span slot="btnContents">{label}</span>
        </HeaderLink>
      ))
    }
  </div>

  <div class="gap-2 sm:flex sm:flex-row sm:justify-end sm:gap-5">
    {
      OUTBOUND_LINKS.map(({ url, logo }) => (
        <IconLink href={url} class={CLASSNAME} icon={logo} />
      ))
    }
  </div>
</div>
