---
import HeaderLink from './MainNav/HeaderLink.astro';
import { navLinks, OUTBOUND_LINKS } from '#app.config.ts';

import IconLink from '@repo/astro-ui/IconLink';
import DThemeDropDown from '@repo/astro-ui/DThemeDropDown';
const CLASSNAME = 'h-10 w-10 fill-link-neutral stroke-neutral';
import { daisyuiThemes } from '#utils/daisyui-themes.ts';
---

<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-0">
    <DThemeDropDown themes={[...daisyuiThemes]} />
  </div>

  <div class="flex-1 border-1">
    <div class="flex flex-row justify-end-safe gap-4">
      {
        navLinks.map(({ href, label, subPages }, index) => (
          <HeaderLink href={href} subPages={subPages}>
            <span slot="activeTab">{label}</span>
            <span slot="btnContents">{label}</span>
          </HeaderLink>
        ))
      }
    </div>
  </div>

  <div class="flex flex-0 flex-row gap-2">
    {
      OUTBOUND_LINKS.map(({ url, logo }) => (
        <IconLink href={url} class={CLASSNAME} icon={logo} />
      ))
    }
  </div>
</div>
<!-- flex  flex-row content-center gap-4 border-1 -->
