---
import HeaderLink from './MainNav/HeaderLink.astro';
import { navLinks, OUTBOUND_LINKS } from '#app.config.ts';

import IconLink from '@repo/astro-ui/IconLink';
import DThemeDropDown from '#components/DThemeDropDown/index.astro';

import { daisyuiThemes } from '#utils/daisyui-themes.ts';
---

<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-0">
    <DThemeDropDown themes={[...daisyuiThemes]} />
  </div>

  <div class="flex-1">
    <div class="justify-end-safe flex flex-row gap-4">
      {
        navLinks.map(({ href, label, subPages }) => (
          <HeaderLink href={href} subPages={subPages}>
            {label}
          </HeaderLink>
        ))
      }
    </div>
  </div>

  <div class="flex-0 flex flex-row gap-2">
    {
      OUTBOUND_LINKS.map(({ url, logo }) => (
        <IconLink
          href={url}
          class="fill-accent stroke-accent h-10 w-10 stroke-1"
          icon={logo}
        />
      ))
    }
  </div>
</div>
