---
// import Hamburger from '/Hamburger.astro';
import Switcher from '@repo/layout-webcomponents/Switcher';
import Cluster from '@repo/layout-webcomponents/Cluster';
import { Links } from '#app.config.ts';

import Box from '@repo/layout-webcomponents/Box';
import LightDarkSwitch from '@repo/astro-wc/SunMoon';
import HeaderLink from './MainNav/HeaderLink.astro';
import Outlink from './Outlink.astro';
import MainNav from './MainNav/index.astro';

import { navLinks } from '#app.config.ts';
const { pathname } = Astro.url;

const IconSize = 'var(--s2)';
---

<div
  class="flex max-w-full justify-between border-4 bg-primary-600 px-4 py-5 dark:bg-primary-300"
>
  <!-- items-center justify-between -->
  <!-- <div class="flex flex-row flex-nowrap content-center justify-between"> -->

  <!-- <LightDarkSwitch
        wrapperClass="flex gap-20 border-2"
        color="var(--color-primary-200)"
        size={IconSize}
      /> -->
  <div class="sm:flex sm:flex-none sm:flex-row sm:justify-start sm:gap-5">
    <Outlink href={Links.github} size={IconSize} iconKey="sun" />
    <Outlink href={Links.github} size={IconSize} iconKey="moon-stars" />
  </div>

  <MainNav />

  <div class="sm:flex sm:flex-none sm:flex-row sm:justify-end sm:gap-5">
    <Outlink href={Links.github} size={IconSize} iconKey="github-logo" />
    <Outlink href={Links.twitter} size={IconSize} iconKey="twitter-logo" />
    <Outlink href={Links.linkedin} size={IconSize} iconKey="linkedin-logo" />
    <Outlink href={Links.discord} size={IconSize} iconKey="discord-logo" />
  </div>

  <!-- </div> -->
</div>
