---
import HeaderLink from './MainNav/HeaderLink.astro';

import { navLinks } from '#app.config.ts';
import { Links } from '#app.config.ts';
import Sun from '#assets/svgs/sun.svg';
import Moon from '#assets/svgs/moon.svg';
import ThemeController from '@repo/astro-ui/ThemeController';
import IconLink from '@repo/astro-wc/IconLink';
// import HeaderLink from './MainNav/HeaderLink.astro';
// import Outlink from './Outlink.astro';
import MainNav from './MainNav/index.astro';

// import { navLinks } from '#app.config.ts';
// const { pathname } = Astro.url;

const IconSize = 'var(--s2, 3rem)';
---

<div
  class="flex max-w-full justify-between border-4 bg-primary-100 px-4 py-5 dark:bg-primary-800"
>
  <!-- items-center justify-between -->
  <!-- <div class="flex flex-row flex-nowrap content-center justify-between"> -->

  <div class="gap-2 sm:flex sm:flex-row sm:gap-5">
    <label class="swap swap-rotate">
      <!-- this hidden checkbox controls the state -->
      <input type="checkbox" class="theme-controller" value="dark" />

      <!-- sun icon -->
      <Sun />

      <Moon />
    </label>
  </div>

  <div class="gap-0 sm:flex sm:flex-row sm:justify-end">
    {
      navLinks.map(({ href, label, subPages }, index) => (
        <HeaderLink href={href} subPages={subPages}>
          <span slot="activeTab">{label}</span>
          <span slot="btnContents">{label}</span>
        </HeaderLink>
      ))
    }
  </div>

  <div class="gap-2 sm:flex sm:flex-row sm:justify-end sm:gap-5">
    <IconLink href={Links.github} size={IconSize} icon="github-logo" />
    <IconLink href={Links.twitter} size={IconSize} icon="twitter-logo" />
    <IconLink href={Links.linkedin} size={IconSize} icon="linkedin-logo" />
    <IconLink href={Links.discord} size={IconSize} icon="discord-logo" />
  </div>

  <!-- </div> -->
</div>
