---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import type { ImageMetadata } from 'astro';
// import { ClientRouter } from 'astro:transitions';
interface Props {
  title: string;
  description: string;
  image?: ImageMetadata;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
import FallbackImage from '#assets/andy-og.webp';

const { title, description, image = FallbackImage } = Astro.props;

// const isDev = process.env.NODE_ENV === 'development';
// const isTest = process.env.NODE_ENV === 'test';
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<meta name="robots" content="noindex, nofollow" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image.src, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
{
  image && (
    <meta property="twitter:image" content={new URL(image.src, Astro.url)} />
  )
}

<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
/>

<script is:inline>
  function applyTheme() {
    if (localStorage.getItem('theme') === null) {
      document.documentElement.setAttribute('data-theme', 'halloween');
    } else
      document.documentElement.setAttribute(
        'data-theme',
        localStorage.getItem('theme'),
      );
  }

  document.addEventListener('astro:after-swap', applyTheme);
  applyTheme();
  // ☝️ This script prevent the FART effect.

  // console.log(
  //   'Theme set to: ' + localStorage.getItem('theme') + ' by default.',
  // );
  // "theme" LocalStorage value is set by the package to remember user preference.
  // The value is checked and applyed before rendering anything.
</script>

<script>
  import { themeChange } from 'theme-change';
  themeChange();
  // 👆 you could import the CDN directly instead of these two lines
</script>

<!-- <script src="https://unpkg.com/lucide@latest"></script> -->

<!-- <script>
  lucide.createIcons();
</script> -->

<!-- <script is:inline>
  import * as Sentry from '@sentry/browser';

  Sentry.init({
    dsn: import.meta.env.SENTRY_DSN,
    tracesSampleRate: 1.0,
    // This sets the sample rate to be 10%. You may want this to be 100% while
    // in development and sample at a lower rate in production
    replaysSessionSampleRate: 0.1,
    // If the entire session is not sampled, use the below sample rate to sample
    // sessions when an error occurs.
    replaysOnErrorSampleRate: 1.0,
    integrations: [new Sentry.BrowserTracing(), new Sentry.Replay()],
  });
</script> -->

<!-- <ClientRouter /> -->
