---
import { z } from 'astro:content';
import { blogSchema } from '#schemas/index.ts';
import { format } from 'date-fns';
import { Image } from 'astro:assets';

interface Props {
  data: z.infer<typeof blogSchema>;
  href: string;
  showTags?: boolean;
}

const { href, data, showTags = false } = Astro.props;

const { cover, title, description, tags, date } = data;
---

<div
  class="card max-w-78 bg-base-100 card-sm md:card-md lg:card-lg shadow-sm md:max-w-96"
>
  <figure>
    <Image src={cover!.src} alt={cover!.alt} width="1600" height="900" />
  </figure>

  <a
    href={`/posts/${href}`}
    class="absolute inset-0 z-10 rounded-2xl"
    aria-label="Full card link"></a>

  <div class="card-body">
    {date && <div class="text-sm">{format(date, 'yyyy-MM-dd')}</div>}
    <h2 class="card-title line-clamp-1">{title}</h2>

    <p class="line-clamp-3">{description}</p>

    <div class="card-actions justify-end">
      {
        showTags &&
          tags.map((tag) => (
            <a href={`/tags/${tag}`} class="badge badge-sm z-10">
              {tag}
            </a>
          ))
      }
    </div>
  </div>
</div>
