---
import { z, reference } from 'astro:content';
import { blogSchema } from '#schemas/index.ts';

interface Props {
  data: z.infer<typeof blogSchema>;
  href: string;
}

const { href, data } = Astro.props;

const { cover, title, description, tags } = data;
---

<div class="image-full card w-96 bg-base-100 shadow-sm">
  <figure>
    <img src={cover!.src} alt={cover!.alt} />
  </figure>

  <a
    href={`/posts/${href}`}
    class="absolute inset-0 z-10 rounded-2xl"
    aria-label="Full card link"></a>

  <div class="card-body">
    <h2 class="card-title">{title}</h2>
    <p>{description}</p>
    <div class="card-actions justify-end">
      {
        tags.map((tag) => (
          <a href={`/tags/${tag}`} class="btn z-10 btn-primary">
            {tag}
          </a>
        ))
      }
    </div>
  </div>
</div>
