---
import { z, reference } from 'astro:content';
import { blogSchema } from '#schemas/index.ts';

interface Props {
  data: z.infer<typeof blogSchema>;
  href: string;
}

const { href, data } = Astro.props;

const { cover, title, description, tags } = data;
---


<div class="d-image-full d-card w-96 bg-base-100 shadow-sm">
  <figure>
    <img src={cover!.src} alt={cover!.alt} />
  </figure>


  <a href={`/posts/${href}`} class="absolute inset-0 rounded-2xl z-10" aria-label="Full card link"></a>

  <div class="d-card-body">
    <h2 class="d-card-title">{title}</h2>
    <p>{description}</p>
    <div class="d-card-actions justify-end">
      {
        tags.map((tag) => (
          <a href={`/tags/${tag}`} class="d-btn z-10 d-btn-primary">
            {tag}
          </a>
        ))
      }
    </div>
  </div>
</div>

