---
import InsetLink from './InsetLink.astro';
import CardTag from './CardTag.astro';
import Stack from '@repo/layout-webcomponents/Stack';

interface Props {
  href: string | URL | null | undefined;
  label: string;
  imagePath?: string;
  alt?: string;

  date: string;
  showInset?: boolean;
}

const { href = '#', label, date, showInset, ...rest } = Astro.props;
---

<div
  class="relative isolate flex flex-col items-start rounded-2xl px-6 py-4 hover:shadow-lg"
>
  <!-- <Image slot="image" class="w-full" src={images[imagePath]()} alt={alt} /> -->
  <slot name="img" />
  <h2 class="text-xl font-bold text-zinc-800">{label}</h2>

  <!-- <InsetLink href={href} /> -->

  <span class:list={['absolute inset-0', { 'bg-pink-600/25': showInset }]}
  ></span>
  <!-- <span class="absolute inset-0 bg-pink-600/25"></span> -->

  <time class="relative order-first text-sm text-gray-600" datetime={date}
    >{date}</time
  >

  <p class="text-base text-gray-700">
    <slot name="description" />
  </p>
  <div class="relative z-11">
    <CardTag>Tag1</CardTag>
    <CardTag>Tag2</CardTag>
    <CardTag>Tag3</CardTag>
  </div>
</div>
