---
import Image from 'astro/components/Image.astro';
import { type CollectionEntry } from 'astro:content';
// interface Props extends HTMLAttributes<'a'> extends CollectionEntry<'blog'>.data;
interface Props {
  foregroundColor?: string;
  backgroundColor?: string;
  id: string;
  postData: CollectionEntry<'blog'>['data'];
  ssr?: boolean;
}

const {
  foregroundColor = 'var(--text-2)',
  backgroundColor = 'var(--surface-4)',
  postData,
  id,
  ssr = false,
} = Astro.props;

const { title, description, cover, pubDate } = postData;

const link = ssr ? `/postsSSR/${id}` : `/posts/${id}`;
// const authObj = await getEntry('authors', id);
// const { name } = authObj.data;
---

<article>
  <a slot="left" href={link}>
    <!-- <Box invert padding="0" borderWidth="0">

    <Box padding="var(--s0)" borderWidth="0"><h1>{title}</h1></Box>

    <Cluster justify="space-between" align="baseline">

      <Box padding="var(--s00)" borderWidth="0">
        <p>{format(pubDate, 'MMMM dd, yyyy')}</p></Box
      >
    </Cluster>
    <Box padding="0" borderWidth="0">

      <ImageWrapper  url={cover.src} alt={cover.alt} />
      </Box
    >

    <Box padding="var(--s0)" borderWidth="0" invert
      >description{description}</Box
    >


  </Box> -->
    <div class="wa-flank" style="--flank-size: 8rem;">
      <div class="wa-frame wa-border-radius-m">
        <Image src={cover.src} alt={cover.alt} width={200} height={150} />
      </div>
      <div class="wa-flank:end" style="--content-percentage: 70%">
        <div class="wa-stack wa-gap-xs">
          <h3>BC - {title}</h3>
          <!-- <span>{name}</span> -->
        </div>
        <wa-icon-button id="options-menu" name="ellipsis"></wa-icon-button>

        <wa-tooltip for="options-menu">Options</wa-tooltip>
      </div>
    </div>
  </a>
</article>
<style define:vars={{ foregroundColor, backgroundColor }}>
  .colors {
    color: var(--foregroundColor);
    background-color: var(--backgroundColor);
    border-width: var(--border-thin);
  }
</style>
