---
import { type CollectionEntry } from 'astro:content';

interface Props {
  foregroundColor?: string;
  backgroundColor?: string;
  id: string;
  postData: CollectionEntry<'blog'>['data'];
  ssr?: boolean;
}

const { postData, id, ssr = false } = Astro.props;

const { title, cover, date } = postData;

const link = ssr ? `/postsSSR/${id}` : `/posts/${id}`;
---

<a href={`./posts/${id}`}>
  <!-- <img slot="image" src={cover.src} alt={cover.alt} width={200} height={200} /> -->
  <img slot="image" src={cover.src} alt={cover.alt} width={400} height={300} />

  <h2>{title}</h2>

  <div slot="footer" class="description">
    {date}
  </div>
</a>
