---
import Layout from '#layouts/Layout.astro';
import DaisyUICard from '@repo/astro-ui/DaisyUICard';

const copy =
  'He’d waited in the human system. Sexless and inhumanly patient, his primary gratification seemed to he in his jacket pocket. The two surviving Founders of Zion were old men.';
---

<Layout maxW="100ch" title="DaisyUI Cards" description="DaisyUI Card component">
  <div class="flex flex-col gap-2 border-2">
    <DaisyUICard cta="Buy Now" size="xs" title="XSmall Card" copy={copy} />
    <DaisyUICard cta="Buy Now" size="sm" title="XSmall Card" copy={copy} />
    <DaisyUICard cta="Buy Now" size="sm" title="Small Card" copy={copy} />

    <DaisyUICard cta="Buy Now" size="md" title="Medium Card" copy={copy} />
    <DaisyUICard cta="Buy Now" size="lg" title="Large Card" copy={copy} />
    <DaisyUICard cta="Buy Now" size="xl" title="Xlarge Card" copy={copy} />
  </div>
</Layout>
