---
import { Image } from 'astro:assets';

import Cluster from '@repo/layout-webcomponents/Cluster';
import Switcher from '@repo/layout-webcomponents/Switcher';
import { getCollection } from 'astro:content';

import Layout from '#layouts/SimpleLayout.astro';

export const prerender = true;

const pageTitle = 'Blog';

const publishsedPosts = await getCollection(
  'blog',
  ({ data }) => data.draft !== true,
);

const sortedPosts = publishsedPosts.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout title={pageTitle}>
  <Cluster>
    {
      sortedPosts.map(({ id, data }) => {
        const { title, description, date, cover, author, tags } = data;
        return (
        <div class="bg-base-100 shadow-sm card-md">
            <Switcher>
              
              <figure class="border-2 bg-green-400 p-0">
                {cover?.src && cover?.alt && (
                  <img class="" src={cover.src} alt={cover.alt} />
                )}
              </figure>
              <div class="">
                <h2 class="text-2xl">{title}</h2>
                <p>{description}</p>

                <div class="justify-end border-1">
                  {tags.map((tag) => (
                    <div class="badge-outline badge">{tag}</div>
                  ))}
                </div>
              </div>
            
            </Switcher>
          </div>
        
        );
      })
    }
  </Cluster>
</Layout>

<style>
  img {
    margin-block: 2.5rem;
    border-radius: 0.75rem;
  }
</style>
