---
// import { Debug } from 'astro:components';
import Stack from '@repo/layout-webcomponents/Stack';
import { getCollection } from 'astro:content';
import Box from '@repo/ui-lit/Box';
import BlogCard from '#components/BlogCard/index.astro';
import Layout from '#layouts/Layout.astro';

export const prerender = true;

const pageTitle = 'Blog';

const publishsedPosts = await getCollection(
  'blog',
  ({ data }) => data.draft !== true,
);

const sortedPosts = publishsedPosts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title={pageTitle}>
  <div class="my-colors">
    <Stack space="var(--s1)" splitAfter={2}>
      {
        sortedPosts.map(({ id, data }) => (
          // <Box class='invert' borderWidth="4px">{data.title}</Box>
          // <BlogCard
          //   backgroundColor="var(--surface-4)"
          //   foregroundColor="var(--text-2)"
          //   id={id}
          //   postData={data}
          // />

          <wa-card with-header class="card-style">
            <div slot="header">
              {data.title}

              <wa-icon-button name="gear" variant="solid" label="Settings" />
            </div>
            {data.description}
          </wa-card>
        ))
      }
    </Stack>
  </div>
</Layout>

<style>
  .my-colors {
    --fore: var(--text-2);
    --back: var(--surface-4);
  }
  .card-style {
    color: var(--fore);
    background-color: var(--back);
    > [slot='header'] {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .card-style:nth-child(odd) {
    background-color: var(--fore);
    color: var(--back);
  }

  .details:nth-child(odd) {
    background-color: var(--fore);
    color: var(--back);
  }
</style>
