---
// import { Debug } from 'astro:components';
import { parseISO, format } from 'date-fns';
import Stack from '@repo/layout-webcomponents/Stack';
import Card from '@repo/astro-wc/Card';
import Grid from '@repo/layout-webcomponents/Grid';
import { getCollection } from 'astro:content';
import Box from '@repo/layout-webcomponents/Box';
import BlogCard from '#components/BlogCard/index.astro';
import Layout from '#layouts/Layout.astro';

export const prerender = true;

const pageTitle = 'Blog';

const publishsedPosts = await getCollection(
  'blog',
  ({ data }) => data.draft !== true,
);

const sortedPosts = publishsedPosts.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout title={pageTitle} maxW="100%">
  <Box>
    <div>
      <Grid>
        {
          sortedPosts.map(({ id, data }) => (
            // <BlogCard
            //   backgroundColor="var(--surface-4)"
            //   foregroundColor="var(--text-2)"
            //   id={id}
            //   postData={data}
            // />
            <Card href={`./posts/${id}`} tags={data.tags} date={data.date}>
              <img
                class="aspect-4/3 object-cover"
                slot="card-img"
                src={data.cover.src}
                alt={data.cover.alt}
                width={400}
                height={300}
              />
              <span slot="headline">{data.title}</span>
              <span slot="description">{data.description}</span>
            </Card>
          ))
        }
      </Grid>
    </div>
  </Box>
</Layout>
