---
import { Image } from 'astro:assets';

import { getCollection } from 'astro:content';

import Layout from '#layouts/SimpleLayout.astro';

export const prerender = true;

const pageTitle = 'Blog';

const publishsedPosts = await getCollection(
  'blog',
  ({ data }) => data.draft !== true,
);

const sortedPosts = publishsedPosts.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout title={pageTitle}>
  <div class="max-w-9/10 px-4">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
      {
        sortedPosts.map(({ id, data }) => (
          <div class="card bg-base-100 shadow-sm card-xs md:card-md">
            <figure>
              <img
                src={data.cover.src}
                alt={data.cover.alt}
                width="400"
                height="300"
              />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{data.title}</h2>
              <p>{data.description}</p>
              <div class="card-actions justify-end">
                <a  href={`/posts/${id}`} class="btn btn-primary">Read</a>
              </div>
              <div class="card-actions justify-end">
                {data.tags.map((tag) => (
                  <div class="badge-outline badge">{tag}</div>
                ))}
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>

<style>
  img {
    margin-block: 2.5rem;
    border-radius: 0.75rem;
  }
</style>
