---
import { Image } from 'astro:assets';

import { getCollection } from 'astro:content';

import Layout from '#layouts/BaseLayout.astro';

export const prerender = true;

const pageTitle = 'Blog';

const publishsedPosts = await getCollection(
  'blog',
  ({ data }) => data.draft !== true,
);

const sortedPosts = publishsedPosts.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout title={pageTitle}>
  <div class="max-w-9/10 py-4">
    <div class="grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-3">
      {
        sortedPosts.map(({ id, data }) => {
          const { title, description, date, cover, author, tags } = data;
          return (
            <div class="card card-xs md:card-md justify-between shadow-xl">
              <figure>
                {cover?.src && cover?.alt && (
                  <img src={cover.src} alt={cover.alt} />
                )}
              </figure>
              <div class="card-body">
                <h2 class="card-title">{title}</h2>
                <p>{description}</p>
                {/* <div class="card-actions justify-end">
                  <a href={`/posts/${id}`} class="btn btn-primary">
                    Read
                  </a>
                </div> */}
                <div class="card-actions justify-end">
                  {tags.map((tag) => (
                    <div class="badge badge-xs badge-primary">{tag}</div>
                  ))}
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</Layout>

<style>
  img {
    margin-block: 2.5rem;
    border-radius: 0.75rem;
  }
</style>
