---
// import mdi from '@iconify-json/mdi';
// import HeaderFooterWrapper from '#components/header-footer.astro';
import Cluster from '@repo/layout-webcomponents/Cluster';
import Box from '@repo/ui-lit/Box';

import { Links } from '#app.config';
import MyIcon from '#components/MyIcon.astro';
const ICONSIZE = 24;
---

<Box invert transition:persist>
  <Cluster justify="space-around" align="flex-start">
    <Box borderWidth="0" padding="var(--s0)">
      <a href={Links.LINKEDIN}>
        <MyIcon name="mdi:linkedin" size={ICONSIZE} />
      </a>
    </Box>

    <Box borderWidth="0" padding="var(--s0)">
      <a href={Links.GITHUB}>
        <MyIcon name="mdi:github" size={ICONSIZE} />
      </a>
    </Box>
    <Box borderWidth="0" padding="var(--s0)">
      <a href={Links.TWITTER}>
        <MyIcon name="mdi:twitter" size={ICONSIZE} />
      </a>
    </Box>

    <!-- <Icon name="mdi:account" /> -->
    <!-- <Social name="mdi:account" href="./" size={ICONSIZE} /> -->
  </Cluster>
</Box>

<style>
  a {
    color: var(--accent);
    background-color: var();
    &:hover {
      color: var(--accent-hover);
    }
    &:visited {
      color: var(--accent-visited);
    }
  }
</style>
