---
// import Hamburger from '/Hamburger.astro';
import { Links } from '#app.config.ts';
import Cluster from '@repo/layout-webcomponents/Cluster';
import Box from '@repo/layout-webcomponents/Box';
import ThemeSwitcher from '@repo/ui-lit/ThemeSwitcher';
import DropDownNav from '#components/DropDownNav/index.astro';
// import ThemeSwitcher from '#wc-lit/ThemeSwitcher/index.astro';
// import ThemeSwitcher from '@repo/ui-lit/ThemeSwitcher';
import SunMoon from '@repo/astro-wc/SunMoon';
import Icon from '@repo/astro-wc/Icon';
// import AstroNavigateSelect from '#components/AstroNavigateSelect.astro';
import HeaderLink from '#components/HeaderLink.astro';
import { navLinks } from '#app.config.ts';
// const canonicalURL = new URL(Astro.url.pathname, Astro.site);
// const { pathname } = new URL(Astro.request.url);
// const currentPage = (pathname.match(/[^/]+$/)?.[0]) || '';
import { getPaths } from '#lib/index.ts';

// TODO: Move to a helper function

const subpath = getPaths(Astro.url.pathname);
//  pathname.match(/[^/]+/g);
---

<div class="bg-zinc-100 dark:bg-zinc-800 px-4 py-4 border-2">
  <div class="border">
    <Cluster align="center" justify="space-between" space="0">
      <Box>
        <a href="/">
          <wa-avatar
            shape="circle"
            initials="MC"
            href="./"
            label="Avatar with initials: SL"></wa-avatar></a
        ></Box
      >
      <!--
    <div class="box">{subpath}</div> -->

      <div class="border rounded-lg border-nuetral-600">
        <Cluster>
          <!-- <DropDownNav />
      <SunMoon /> -->

          {
            navLinks.map(({ href, label }, index) => (
              <HeaderLink
                first={index === 0}
                last={index === navLinks.length - 1}
                href={href}
              >
                {label}
              </HeaderLink>
            ))
          }
        </Cluster>
      </div>

      <div style="font-size: 32px;">
        <Cluster align="flex-end" justify="space-around">
          <wa-icon-button
            family="brands"
            fontsize="2rem"
            name="github"
            href={Links.GITHUB}
            family="brands"
            name="github"
            href={Links.GITHUB}></wa-icon-button>
          <wa-icon-button family="brands" name="twitter" href={Links.TWITTER}
          ></wa-icon-button>
          <wa-icon-button family="brands" name="linkedin" href={Links.LINKEDIN}
          ></wa-icon-button>
        </Cluster>
      </div>
    </Cluster>
  </div>
</div>

<style>
  .icon-button-color wa-icon-button::part(base) {
    color: #b00091;
  }

  .icon-button-color wa-icon-button::part(base):hover,
  .icon-button-color wa-icon-button::part(base):focus {
    color: #c913aa;
  }

  .icon-button-color wa-icon-button::part(base):active {
    color: #960077;
  }
</style>
